.buttonR {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 22px;
  transition: all 0.15s ease;
}

.buttonR::before,
.buttonR::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.buttonR::before {
  top: 0;
  border-bottom-width: 0;
}

.buttonR::after {
  bottom: 0;
  border-top-width: 0;
}

.buttonR:active,
.buttonR:focus {
  outline: none;
}

.buttonR:active::before,
.buttonR:active::after {
  right: 3px;
  left: 3px;
}

.buttonR:active::before {
  top: 3px;
}

.buttonR:active::after {
  bottom: 3px;
}

.buttonR_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.buttonR_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.buttonR_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.buttonR_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.buttonR_text {
  position: relative;
}

.buttonR:hover {
  color: #0f1923;
}

.buttonR:hover .buttonR_sl {
  width: calc(100% + 15px);
}

.buttonR:hover .buttonR_lg::after {
  background-color: #fff;
}
